openapi: 3.0.1
info:
  contact:
    email: help@opendatahub.com
    name: Open Data Hub Team
    url: https://opendatahub.com/
  description: Open Data Hub Tourism Api based on .Net Core with PostgreSQL
  termsOfService: https://opendatahub.readthedocs.io/en/latest/
  title: Open Data Hub Tourism Api
  version: v1
servers:
- url: https://tourism.api.opendatahub.com
tags:
- description: Accommodation Api (data provided by LTS / Availability Requests provided
    by HGV/LTS) SOME DATA Available as OPENDATA
  name: Accommodation
- description: Events Api (data provided by LTS) SOME DATA Available as OPENDATA
  name: Event
- description: Venue Api (data provided by LTS Venues) SOME DATA Available as OPENDATA
  name: Venue
- description: "Weather Api (data provided by SIAG, LTS) SOME DATA Available as OPENDATA"
  name: Weather
- description: WebcamInfo Api (data provided by LTS ActivityData) SOME DATA Available
    as OPENDATA
  name: WebcamInfo
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Deprecated-Api-in-ODH-Tourism-api"
    target="_blank">Wiki Deprecated Api</a>
  name: Deprecated
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Distinct-Search-in-ODH-Tourism-api"
    target="_blank">Wiki Distinct Api</a>
  name: Distinct
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Search-over-all-Entities-in-ODH-Tourism-api"
    target="_blank">Wiki Search Api</a>
  name: Search
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Geoshapes-Api-and-Geo-Converter#geoshapes-api"
    target="_blank">Wiki GeoShapes Api</a>
  name: Geo
- description: Articles Api (data provided by IDM) SOME DATA Available as OPENDATA
  name: Article
- description: EventShort Api (data provided by NOI/EURAC) ALL DATA Available as OPENDATA
  name: EventShort
- description: ODH Activity Poi Api (data provided by various data providers) SOME
    DATA Available as OPENDATA
  name: ODHActivityPoi
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Getting-Data-as-JsonLD---schema.org"
    target="_blank">Wiki Json LD Api</a>
  name: JsonLD
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Location-Endpoint"
    target="_blank">Wiki Location Api</a>
  name: Location
- description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Geoshapes-Api-and-Geo-Converter#geoconverter-api"
    target="_blank">Wiki GeoConverter Api</a>
  name: GeoConverter
paths:
  /v1/Accommodation:
    get:
      operationId: AccommodationList
      parameters:
      - description: Pagenumber
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: "Elements per Page (If availabilitycheck set, pagesize has no\
          \ effect all Accommodations are returned), (default:10)"
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed,\
          \ 'null' disables Random Sorting, (default:null)"
        explode: true
        in: query
        name: seed
        required: false
        schema:
          type: string
        style: form
      - description: "Categoryfilter BITMASK values: 1 = (not categorized), 2 = (1star),\
          \ 4 = (1flower), 8 = (1sun), 14 = (1star/1flower/1sun), 16 = (2stars), 32\
          \ = (2flowers), 64 = (2suns), 112 = (2stars/2flowers/2suns), 128 = (3stars),\
          \ 256 = (3flowers), 512 = (3suns), 1024 = (3sstars), 1920 = (3stars/3flowers/3suns/3sstars),\
          \ 2048 = (4stars), 4096 = (4flowers), 8192 = (4suns), 16384 = (4sstars),\
          \ 30720 = (4stars/4flowers/4suns/4sstars), 32768 = (5stars), 65536 = (5flowers),\
          \ 131072 = (5suns), 229376 = (5stars/5flowers/5suns), 'null' = (No Filter),\
          \ (default:'null')"
        explode: true
        in: query
        name: categoryfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Typefilter BITMASK values: 1 = (HotelPension), 2 = (BedBreakfast),\
          \ 4 = (Farm), 8 = (Camping), 16 = (Youth), 32 = (Mountain), 64 = (Apartment),\
          \ 128 = (Not defined),'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: typefilter
        required: false
        schema:
          type: string
        style: form
      - description: "Boardfilter BITMASK values: 0 = (all boards), 1 = (without board),\
          \ 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive),\
          \ 'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: boardfilter
        required: false
        schema:
          type: string
        style: form
      - description: "FeatureFilter BITMASK values: 1 = (Group-friendly), 2 = (Meeting\
          \ rooms), 4 = (Swimming pool), 8 = (Sauna), 16 = (Garage), 32 = (Pick-up\
          \ service), 64 = (WLAN), 128 = (Barrier-free), 256 = (Special menus for\
          \ allergy sufferers), 512 = (Pets welcome), 'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: featurefilter
        required: false
        schema:
          type: string
        style: form
      - description: "Feature Id Filter, LIST filter over ALL Features available.\
          \ Separator ',' List of Feature IDs, 'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: featureidfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Themefilter BITMASK values: 1 = (Gourmet), 2 = (At altitude),\
          \ 4 = (Regional wellness offerings), 8 = (on the wheels), 16 = (With family),\
          \ 32 = (Hiking), 64 = (In the vineyards), 128 = (Urban vibe), 256 = (At\
          \ the ski resort), 512 = (Mediterranean), 1024 = (In the Dolomites), 2048\
          \ = (Alpine), 4096 = (Small and charming), 8192 = (Huts and mountain inns),\
          \ 16384 = (Rural way of life), 32768 = (Balance), 65536 = (Christmas markets),\
          \ 131072 = (Sustainability), 'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: themefilter
        required: false
        schema:
          type: string
        style: form
      - description: "BadgeFilter BITMASK values: 1 = (Belvita Wellness Hotel), 2\
          \ = (Familyhotel), 4 = (Bikehotel), 8 = (Red Rooster Farm), 16 = (Barrier\
          \ free certificated), 32 = (Vitalpina Hiking Hotel), 64 = (Private Rooms\
          \ in South Tyrol), 128 = (Vinum Hotels), 'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: badgefilter
        required: false
        schema:
          type: string
        style: form
      - description: "IDFilter LIST Separator ',' List of Accommodation IDs, 'null'\
          \ = (No Filter), (default:'null')"
        explode: true
        in: query
        name: idfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Locfilter SPECIAL Separator ',' possible values: reg + REGIONID\
          \ = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID\
          \ = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality),\
          \ fra + FRACTIONID = (Filter by Fraction), 'null' = (No Filter), (default:'null')\
          \ <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#location-filter-locfilter\"\
          \ target=\"_blank\">Wiki locfilter</a>"
        explode: true
        in: query
        name: locfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Altitude Range Filter SPECIAL (Separator ',' example Value:\
          \ 500,1000 Altitude from 500 up to 1000 metres), (default:'null')"
        explode: true
        in: query
        name: altitudefilter
        required: false
        schema:
          type: string
        style: form
      - description: "ODHTag Filter LIST (refers to Array SmgTags) (String, Separator\
          \ ',' more ODHTags possible, 'null' = No Filter, available ODHTags reference\
          \ to 'v1/ODHTag?validforentity=accommodation'), (default:'null')"
        explode: true
        in: query
        name: odhtagfilter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - description: "ODHActive Filter BOOLEAN (refers to field SmgActive) (possible\
          \ Values: 'null' Displays all Accommodations, 'true' only ODH Active Accommodations,\
          \ 'false' only ODH Disabled Accommodations), (default:'null')"
        explode: true
        in: query
        name: odhactive
        required: false
        schema:
          type: boolean
        style: form
      - description: "TIC Active Filter BOOLEAN (possible Values: 'null' Displays\
          \ all Accommodations, 'true' only TIC Active Accommodations, 'false' only\
          \ TIC Disabled Accommodations), (default:'null')"
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: bookablefilter
        required: false
        schema:
          type: boolean
        style: form
      - description: "Arrival DATE (yyyy-MM-dd) REQUIRED ON Availabilitycheck = true,\
          \ (default:'Today's date')"
        explode: true
        in: query
        name: arrival
        required: false
        schema:
          type: string
        style: form
      - description: "Departure DATE (yyyy-MM-dd) REQUIRED ON Availabilitycheck =\
          \ true, (default:'Tomorrow's date')"
        explode: true
        in: query
        name: departure
        required: false
        schema:
          type: string
        style: form
      - description: "Roominfo Filter REQUIRED ON Availabilitycheck = true (Splitter\
          \ for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided,\
          \ 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible\
          \ Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and\
          \ Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')"
        explode: true
        in: query
        name: roominfo
        required: false
        schema:
          default: "1-18,18"
          type: string
        style: form
      - description: "Booking Channels Filter REQUIRED ON Availabilitycheck = true\
          \ (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de),\
          \ exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)),\
          \ (default:'hgv')"
        explode: true
        in: query
        name: bokfilter
        required: false
        schema:
          default: hgv
          type: string
        style: form
      - description: "Source for MSS availability check, (default:'sinfo')"
        explode: true
        in: query
        name: msssource
        required: false
        schema:
          default: sinfo
          type: string
        style: form
      - description: "Language of the Availability Response (possible values: 'de','it','en')"
        explode: true
        in: query
        name: availabilitychecklanguage
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: "Detail of the Availablity check (string, 1 = full Details, 0\
          \ = basic Details (default))"
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: "0"
          type: string
        style: form
      - description: "Filter on Tags. (Endpoint on v1/Tag) Syntax =and/or(Tag.Id,Tag.Id,Tag.Id)\
          \ example or(summer,hiking) - and(themed hikes,family hikings) - or(hiking)\
          \ - and(summer) - Combining and/or is not supported at the moment, default:\
          \ 'null')"
        explode: true
        in: query
        name: tagfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Availability Check BOOLEAN (possible Values: 'true', 'false),\
          \ (default Value: 'false') NOT AVAILABLE AS OPEN DATA, IF Availabilty Check\
          \ is true certain filters are Required"
        explode: true
        in: query
        name: availabilitycheck
        required: false
        schema:
          type: boolean
        style: form
      - description: "GeoFilter FLOAT Latitude Format: '46.624975', 'null' = disabled,\
          \ (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#geosorting-functionality\"\
          \ target=\"_blank\">Wiki geosort</a>"
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          type: string
        style: form
      - description: "GeoFilter FLOAT Longitude Format: '11.369909', 'null' = disabled,\
          \ (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#geosorting-functionality\"\
          \ target=\"_blank\">Wiki geosort</a>"
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          type: string
        style: form
      - description: "Radius INTEGER to Search in Meters. Only Object withhin the\
          \ given point and radius are returned and sorted by distance. Random Sorting\
          \ is disabled if the GeoFilter Informations are provided, (default:'null')\
          \ <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#geosorting-functionality\"\
          \ target=\"_blank\">Wiki geosort</a>"
        explode: true
        in: query
        name: radius
        required: false
        schema:
          type: string
        style: form
      - description: "valid WKT (Well-known text representation of geometry) Format,\
          \ Examples (POLYGON ((30 10, 40 40, 20 40, 10 20, 30 10))) / By Using the\
          \ GeoShapes Api (v1/GeoShapes) and passing Country.Type.Id OR Country.Type.Name\
          \ Example (it.municipality.3066) / Bounding Box Filter bbc: 'Bounding Box\
          \ Contains', 'bbi': 'Bounding Box Intersects', followed by a List of Comma\
          \ Separated Longitude Latitude Tuples, 'null' = disabled, (default:'null')\
          \ <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#polygon-filter-functionality\"\
          \ target=\"_blank\">Wiki geosort</a>"
        explode: true
        in: query
        name: polygon
        required: false
        schema:
          type: string
        style: form
      - description: "Published On Filter (Separator ',' List of publisher IDs), (default:'null')"
        explode: true
        in: query
        name: publishedon
        required: false
        schema:
          type: string
        style: form
      - description: "Language field selector, displays data and fields in the selected\
          \ language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language\
          \ supported (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Language filter (returns only data available in the selected\
          \ Language, Separator ',' possible values: 'de,it,en,nl,sc,pl,fr,ru', 'null':\
          \ Filter disabled)"
        explode: true
        in: query
        name: langfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Returns data changed after this date Format (yyyy-MM-dd), (default:\
          \ 'null')"
        explode: true
        in: query
        name: updatefrom
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "String to search for, Title in all languages are searched, (default:\
          \ null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\"\
          \ target=\"_blank\">Wiki searchfilter</a>"
        explode: true
        in: query
        name: searchfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawfilter</a>
        explode: true
        in: query
        name: rawfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawsort</a>
        explode: true
        in: query
        name: rawsort
        required: false
        schema:
          type: string
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Get result only as Array of Ids, (default:false)  Documentation\
          \ on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: getasidarray
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
            application/json:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
            text/json:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResult"
          description: List created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "401":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation List
      tags:
      - Accommodation
    post:
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
          application/json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
          text/json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
          application/*+json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
        description: Accommodation Object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: POST Insert new Accommodation
      tags:
      - Accommodation
  /v1/Accommodation/{id}:
    delete:
      parameters:
      - description: Accommodation Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: DELETE Accommodation by Id
      tags:
      - Accommodation
    get:
      operationId: SingleAccommodation
      parameters:
      - description: ID of the Accommodation
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "ID Source Filter (possible values:'lts','hgv','a0r_id'), (default:'lts')"
        explode: true
        in: query
        name: idsource
        required: false
        schema:
          default: lts
          type: string
        style: form
      - description: "Language of the Availability Response (possible values: 'de','it','en')"
        explode: true
        in: query
        name: availabilitychecklanguage
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: "Boardfilter BITMASK values: 0 = (all boards), 1 = (without board),\
          \ 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive),\
          \ 'null' = (No Filter), (default:'null')"
        explode: true
        in: query
        name: boardfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')"
        explode: true
        in: query
        name: arrival
        required: false
        schema:
          type: string
        style: form
      - description: "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')"
        explode: true
        in: query
        name: departure
        required: false
        schema:
          type: string
        style: form
      - description: "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for\
          \ Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS),\
          \ 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room\
          \ 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')"
        explode: true
        in: query
        name: roominfo
        required: false
        schema:
          default: "1-18,18"
          type: string
        style: form
      - description: "Booking Channels Filter REQUIRED (Separator ',' possible values:\
          \ hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com),\
          \ lts = (LTS Availability check)), (default:'hgv')"
        explode: true
        in: query
        name: bokfilter
        required: false
        schema:
          default: hgv
          type: string
        style: form
      - explode: true
        in: query
        name: msssource
        required: false
        schema:
          default: sinfo
          type: string
        style: form
      - description: "Availability Check enabled/disabled (possible Values: 'true',\
          \ 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA"
        explode: true
        in: query
        name: availabilitycheck
        required: false
        schema:
          type: boolean
        style: form
      - description: "Detail of the Availablity check (string, 1 = full Details, 0\
          \ = basic Details (default))"
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: "0"
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Language field selector, displays data and fields available\
          \ in the selected language (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
            application/json:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
            text/json:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
            text/csv:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AccommodationV2"
          description: Object created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "401":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Single
      tags:
      - Accommodation
    put:
      parameters:
      - description: Accommodation Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
          application/json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
          text/json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
          application/*+json:
            schema:
              $ref: "#/components/schemas/AccommodationV2"
        description: Accommodation Object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: PUT Modify existing Accommodation
      tags:
      - Accommodation
  /v1/AccommodationTypes:
    get:
      parameters:
      - description: "Language field selector, displays data and fields in the selected\
          \ language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language\
          \ supported (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: idlist
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: seed
        required: false
        schema:
          type: string
        style: form
      - description: "Type to filter for ('Board','Type','Theme','Category','Badge','SpecialFeature')"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "String to search for, Title in all languages are searched, (default:\
          \ null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\"\
          \ target=\"_blank\">Wiki searchfilter</a>"
        explode: true
        in: query
        name: searchfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawfilter</a>
        explode: true
        in: query
        name: rawfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawsort</a>
        explode: true
        in: query
        name: rawsort
        required: false
        schema:
          type: string
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
            text/csv:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
            application/ld+json:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
            application/ldjson:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
            application/rawdata:
              schema:
                items:
                  $ref: "#/components/schemas/AccoTypes"
                type: array
          description: List created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Types List
      tags:
      - Accommodation
  /v1/AccommodationTypes/{id}:
    get:
      operationId: SingleAccommodationTypes
      parameters:
      - description: ID of the AccommodationType
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Language field selector, displays data and fields in the selected\
          \ language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language\
          \ supported (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AccoTypes"
            application/json:
              schema:
                $ref: "#/components/schemas/AccoTypes"
            text/json:
              schema:
                $ref: "#/components/schemas/AccoTypes"
            text/csv:
              schema:
                $ref: "#/components/schemas/AccoTypes"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AccoTypes"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AccoTypes"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AccoTypes"
          description: List created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Types Single
      tags:
      - Accommodation
  /v1/AccommodationFeatures:
    get:
      parameters:
      - description: "Language field selector, displays data and fields in the selected\
          \ language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language\
          \ supported (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: idlist
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: seed
        required: false
        schema:
          type: string
        style: form
      - description: "Filtering by LTS T0ID, filter behaviour is \"startswith\" so\
          \ it is possible to send only one character, (default: blank)"
        explode: true
        in: query
        name: ltst0idfilter
        required: false
        schema:
          type: string
        style: form
      - description: "IF source = \"lts\" the Features list is returned in XML Format\
          \ directly from LTS, (default: blank)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "String to search for, Title in all languages are searched, (default:\
          \ null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\"\
          \ target=\"_blank\">Wiki searchfilter</a>"
        explode: true
        in: query
        name: searchfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawfilter</a>
        explode: true
        in: query
        name: rawfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawsort</a>
        explode: true
        in: query
        name: rawsort
        required: false
        schema:
          type: string
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
            text/csv:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
            application/ld+json:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
            application/ldjson:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
            application/rawdata:
              schema:
                items:
                  $ref: "#/components/schemas/AccoFeatures"
                type: array
          description: List created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Feature List (LTS Features)
      tags:
      - Accommodation
  /v1/AccommodationFeatures/{id}:
    get:
      operationId: SingleAccommodationFeatures
      parameters:
      - description: ID of the AccommodationFeature
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Language field selector, displays data and fields in the selected\
          \ language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language\
          \ supported (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
            application/json:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
            text/json:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
            text/csv:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AccoFeatures"
          description: List created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Feature Single (LTS Features)
      tags:
      - Accommodation
  /v1/AccommodationRoom:
    get:
      operationId: AccommodationRoomList
      parameters:
      - description: Accommodation ID
        explode: true
        in: query
        name: accoid
        required: false
        schema:
          type: string
        style: form
      - description: "HGV ID or LTS ID of the Accommodation (possible values:'lts','hgv','a0r_id'),\
          \ (default:'lts')"
        explode: true
        in: query
        name: idsource
        required: false
        schema:
          default: lts
          type: string
        style: form
      - description: "Source Filter (possible values:'lts','hgv'), (default:null)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: idlist
        required: false
        schema:
          type: string
        style: form
      - description: "Get Rooms from all sources (If an accommodation is bookable\
          \ on Booking Southtyrol, rooms from this source are returned, setting getall\
          \ to true returns also LTS Rooms), (default:false)"
        explode: true
        in: query
        name: getall
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Language field selector, displays data and fields in the selected\
          \ language (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Language filter (returns only data available in the selected\
          \ Language, Separator ',' possible values: 'de,it,en,nl,sc,pl,fr,ru', 'null':\
          \ Filter disabled)"
        explode: true
        in: query
        name: langfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Returns data changed after this date Format (yyyy-MM-dd), (default:\
          \ 'null')"
        explode: true
        in: query
        name: updatefrom
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: seed
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: publishedon
        required: false
        schema:
          type: string
        style: form
      - description: "String to search for, Title in all languages are searched, (default:\
          \ null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\"\
          \ target=\"_blank\">Wiki searchfilter</a>"
        explode: true
        in: query
        name: searchfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawfilter</a>
        explode: true
        in: query
        name: rawfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawsort</a>
        explode: true
        in: query
        name: rawsort
        required: false
        schema:
          type: string
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
            text/csv:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
            application/ld+json:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
            application/ldjson:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
            application/rawdata:
              schema:
                items:
                  $ref: "#/components/schemas/AccommodationRoomLinked"
                type: array
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Room Info by Accommodation
      tags:
      - Accommodation
  /v1/AccommodationRoom/{id}:
    get:
      operationId: SingleAccommodationRoom
      parameters:
      - description: AccommodationRoom ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Language field selector, displays data and fields in the selected\
          \ language (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
            application/json:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
            text/json:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
            text/csv:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AccommodationRoomLinked"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Accommodation Room Info Single
      tags:
      - Accommodation
  /v1/AccommodationAvailable:
    post:
      parameters:
      - description: Language of the Availability Response
        explode: true
        in: query
        name: availabilitychecklanguage
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without\
          \ board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All\
          \ inclusive), 'null' = No Filter)"
        explode: true
        in: query
        name: boardfilter
        required: false
        schema:
          type: string
        style: form
      - description: Arrival Date (yyyy-MM-dd) REQUIRED
        explode: true
        in: query
        name: arrival
        required: false
        schema:
          type: string
        style: form
      - description: Departure Date (yyyy-MM-dd) REQUIRED
        explode: true
        in: query
        name: departure
        required: false
        schema:
          type: string
        style: form
      - description: "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for\
          \ Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS),\
          \ 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room\
          \ 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')"
        explode: true
        in: query
        name: roominfo
        required: false
        schema:
          default: "1-18,18"
          type: string
        style: form
      - description: "Booking Channels Filter (Separator ',' possible values: hgv\
          \ = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com),\
          \ lts = (LTS Availability check), (default:hgv)) REQUIRED"
        explode: true
        in: query
        name: bokfilter
        required: false
        schema:
          default: hgv
          type: string
        style: form
      - description: "Source of the Requester (possible value: 'sinfo' = Suedtirol.info,\
          \ 'sbalance' = Südtirol Balance) REQUIRED"
        explode: true
        in: query
        name: msssource
        required: false
        schema:
          default: sinfo
          type: string
        style: form
      - description: "Include Offer Details (String, 1 = full Details)"
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: "0"
          type: string
        style: form
      - description: "Locfilter SPECIAL Separator ',' possible values: reg + REGIONID\
          \ = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID\
          \ = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality),\
          \ fra + FRACTIONID = (Filter by Fraction), 'null' = (No Filter), (default:'null')\
          \ <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#location-filter-locfilter\"\
          \ target=\"_blank\">Wiki locfilter</a>"
        explode: true
        in: query
        name: locfilter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: publishedon
        required: false
        schema:
          type: string
        style: form
      - description: Get only availability information without Accommodation information
        explode: true
        in: query
        name: availabilityonly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Use the MSS Cache to Request Data. No Ids have to be passed,\
          \ the whole MSS Result of whole South Tyrol is used, available options (null/false/true)\
          \ default (null), false = pass always the Ids to MSS omit its caching mechanism,\
          \ true = do not pass ids to MSS get availability result and filter the resultset\
          \ of MSS, null = let opendatahub decide when to use caching and when not."
        explode: true
        in: query
        name: usemsscache
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Currently not used (planned to be active in 2025)
        explode: true
        in: query
        name: uselcscache
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Remove all duplicate offers from the requested booking channel\
          \ possible values: ('lts','hgv'), default(NULL)"
        explode: true
        in: query
        name: removeduplicatesfrom
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ltsapiversion
        required: false
        schema:
          default: v1
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
        description: "Posted Accommodation IDs (Separated by , must be specified in\
          \ the POST Body as raw)"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
            application/json:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
            text/json:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
            text/csv:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: POST Pass Accommodation Ids and get Accommodations with Availability
        Information / Availability Information Only <a href="https://github.com/noi-techpark/odh-docs/wiki/Accommodation-Workflow#availability-search"
        target="_blank">Wiki Availability Search</a>
      tags:
      - Accommodation
  /v1/AvailabilityCheck:
    post:
      parameters:
      - description: Language of the Availability Response
        explode: true
        in: query
        name: availabilitychecklanguage
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without\
          \ board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All\
          \ inclusive), 'null' = No Filter)"
        explode: true
        in: query
        name: boardfilter
        required: false
        schema:
          type: string
        style: form
      - description: Arrival Date (yyyy-MM-dd) REQUIRED
        explode: true
        in: query
        name: arrival
        required: false
        schema:
          type: string
        style: form
      - description: Departure Date (yyyy-MM-dd) REQUIRED
        explode: true
        in: query
        name: departure
        required: false
        schema:
          type: string
        style: form
      - description: "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for\
          \ Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS),\
          \ 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room\
          \ 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')"
        explode: true
        in: query
        name: roominfo
        required: false
        schema:
          default: "1-18,18"
          type: string
        style: form
      - description: "Booking Channels Filter (Separator ',' possible values: hgv\
          \ = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com),\
          \ lts = (LTS Availability check), (default:hgv)) REQUIRED"
        explode: true
        in: query
        name: bokfilter
        required: false
        schema:
          default: hgv
          type: string
        style: form
      - description: "Source of the Requester (possible value: 'sinfo' = Suedtirol.info,\
          \ 'sbalance' = Südtirol Balance) REQUIRED"
        explode: true
        in: query
        name: msssource
        required: false
        schema:
          default: sinfo
          type: string
        style: form
      - description: "Include Offer Details (String, 1 = full Details)"
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: "0"
          type: string
        style: form
      - description: "Locfilter SPECIAL Separator ',' possible values: reg + REGIONID\
          \ = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID\
          \ = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality),\
          \ fra + FRACTIONID = (Filter by Fraction), 'null' = (No Filter), (default:'null')\
          \ <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#location-filter-locfilter\"\
          \ target=\"_blank\">Wiki locfilter</a>"
        explode: true
        in: query
        name: locfilter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: publishedon
        required: false
        schema:
          default: idm-marketplace
          type: string
        style: form
      - description: "Use the MSS Cache to Request Data. No Ids have to be passed,\
          \ the whole MSS Result of whole South Tyrol is used, default(false)"
        explode: true
        in: query
        name: usemsscache
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Currently not used (planned to be active in 2025)
        explode: true
        in: query
        name: uselcscache
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Remove all duplicate offers from the requested booking channel\
          \ possible values: ('lts','hgv'), default(NULL)"
        explode: true
        in: query
        name: removeduplicatesfrom
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ltsapiversion
        required: false
        schema:
          default: v1
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
        description: "Posted Accommodation IDs (Separated by , must be specified in\
          \ the POST Body as raw)"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
            application/json:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
            text/json:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
            text/csv:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/MssResultJsonResultWithBookingInfo"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: POST Pass Accommodation Ids and get Accommodations with Availability
        Information / Availability Information Only
      tags:
      - Accommodation
  /v1/Announcement:
    get:
      parameters:
      - description: Pagenumber
        explode: true
        in: query
        name: pagenumber
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: "Elements per Page, (default:10)"
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: "Language field selector, displays data and fields available\
          \ in the selected language (default:'null' all languages are displayed)"
        explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - description: "Langfilter (returns only data available in the selected Language,\
          \ Separator ',' possible values: 'de,it,en,nl,sc,pl,fr,ru', 'null': Filter\
          \ disabled)"
        explode: true
        in: query
        name: langfilter
        required: false
        schema:
          type: string
        style: form
      - description: "IDFilter (Separator ',' List of IDs, 'null' = No Filter), (default:'null')"
        explode: true
        in: query
        name: idlist
        required: false
        schema:
          type: string
        style: form
      - description: "Source Filter, (default:'null')"
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - description: "Begin Filter (Format: RFC3339 YYYY-MM-DDTHH:MM:SSZ), if set\
          \ only announcements intesecting with begin are returned. **INCLUSIVE**\
          \ (default: 'null')"
        explode: true
        in: query
        name: begin
        required: false
        schema:
          type: string
        style: form
      - description: "End Filter (Format: RFC3339 YYYY-MM-DDTHH:MM:SSZ), if set only\
          \ announcements intesecting with end are returned. **INCLUSIVE**  (default:\
          \ 'null')"
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: "Filter on Tags. Syntax =and/or(TagId,TagId,TagId) example or(traffic-event:hindrance,traffic-event:mountain-pass)\
          \ - Combining and/or is not supported at the moment. (default: 'null')"
        explode: true
        in: query
        name: tagfilter
        required: false
        schema:
          type: string
        style: form
      - description: "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed,\
          \ 'null' disables Random Sorting, (default:null)"
        explode: true
        in: query
        name: seed
        required: false
        schema:
          type: string
        style: form
      - description: "valid WKT (Well-known text representation of geometry) Format,\
          \ Examples (POLYGON ((30 10, 40 40, 20 40, 10 20, 30 10))) / By Using the\
          \ GeoShapes Api (v1/GeoShapes) and passing Country.Type.Id OR Country.Type.Name\
          \ Example (it.municipality.3066) / Bounding Box Filter bbc: 'Bounding Box\
          \ Contains', 'bbi': 'Bounding Box Intersects', followed by a List of Comma\
          \ Separated Longitude Latitude Tuples, 'null' = disabled, (default:'null')\
          \ <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#polygon-filter-functionality\"\
          \ target=\"_blank\">Wiki geosort</a>"
        explode: true
        in: query
        name: polygon
        required: false
        schema:
          type: string
        style: form
      - description: "Select fields to display, More fields are indicated by separator\
          \ ',' example fields=Id,Active,Shortname (default:'null' all fields are\
          \ displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\"\
          \ target=\"_blank\">Wiki fields</a>"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "String to search for, Title in all languages are searched, (default:\
          \ null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\"\
          \ target=\"_blank\">Wiki searchfilter</a>"
        explode: true
        in: query
        name: searchfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter"
          target="_blank">Wiki rawfilter</a>
        explode: true
        in: query
        name: rawfilter
        required: false
        schema:
          type: string
        style: form
      - description: <a href="https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawsort"
          target="_blank">Wiki rawsort</a>
        explode: true
        in: query
        name: rawsort
        required: false
        schema:
          type: string
        style: form
      - description: "Remove all Null values from json output. Useful for reducing\
          \ json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: removenullvalues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Get result only as Array of Ids, (default:false)  Documentation\
          \ on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\"\
          \ target=\"_blank\">Opendatahub Wiki</a>"
        explode: true
        in: query
        name: getasidarray
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
            application/json:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
            text/json:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/AnnouncementJsonResult"
          description: List created
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Request Error
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: GET Announcement List
      tags:
      - Announcement
    post:
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/Announcement"
          application/json:
            schema:
              $ref: "#/components/schemas/Announcement"
          text/json:
            schema:
              $ref: "#/components/schemas/Announcement"
          application/*+json:
            schema:
              $ref: "#/components/schemas/Announcement"
        description: Announcement Object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: POST Insert new Announcement
      tags:
      - Announcement
    put:
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: "#/components/schemas/Announcement"
              type: array
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Announcement"
              type: array
          text/json:
            schema:
              items:
                $ref: "#/components/schemas/Announcement"
              type: array
          application/*+json:
            schema:
              items:
                $ref: "#/components/schemas/Announcement"
              type: array
        description: List of Announcement Objects
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
            text/json:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/BatchCRUDResult"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "403":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: PUT Upsert array of Announcements with well known ids
      tags:
      - Announcement
  /v1/Announcement/{id}:
    delete:
      parameters:
      - description: Announcement Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            text/csv:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/PGCRUDResult"
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/csv:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/ldjson:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/rawdata:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - oauth2: []
      summary: DELETE Announcement by Id
      tags:
      - Announcement
    get:
      operationId: SingleAnnouncement
      parameters:
      - description: ID of the Announcement
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Language field selector, displays data and fields available\
[...]
